
* {
  box-sizing: border-box;
}
body{
  display: flex;
  text-align: center;
  justify-items: auto;
  font-family: 'Grandstander', cursive;
  background-color: rgb(224, 143, 143);
}
h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 2em;
 height: 40px;
 width: 210px;
}
h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 1.5em;
 height: 40px;
 width: 210px;
}
p {
  margin-top: 20px;
  height:200px;
  width: 200px;
  text-align: center;
}